* {
	font-family: 'Arial';
}
body {
	display: flex;
	width: 100%;
	justify-content: center;
}
p {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.form-body {
	display: flex;
	flex-direction: column;
}
.sections {
	display: flex;
	flex-direction: column;
	padding: 0.5em 0;
}
.user-data {
	display: flex;
	font-weight: bold;
}
.boxes-in-row {
	display: flex;
	flex-direction: row;
	border: 0.1em solid green;
}
.address-box-body {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}
.address-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 0.25em;
}
.password-boxes {
	display:flex;
	flex-direction:row;
	gap:0.5em;
}