* {
	font-family: Arial;
}
body {
	margin: 0;
	padding: 2em 0;
	display: flex;
	width: 100%;
	justify-content: center;
	background-image: url("image64.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h1 {
	text-align: center;
	text-decoration: underline;
	color: white;
}
p {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: bold;
	color: white;
}
label {
	color: white;
}
input:not([type="checkbox"]),
select,
button {
	height: 1.8em;
	padding: 0.3em 0.6em;
	border: none;
	border: 0.1em solid black;
	border-radius: 0.2em;
	font-size: 0.95em;
}
select {
	height: 2.4em;
}

button {
	margin-top: 1em;
	align-items: center;
	width: 100%;
	height: 2.5em;
	font-size: 1em;
	font-weight: bold;
	background-color: black;
	color: yellow;
	border: 0.2em solid yellow;
}
button:hover {
	background-color: yellow;
	color: black;
}
button:active {
	opacity: 80%;
}

.form-body {
	padding: 25px;
	background-color:dimgray;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	width: 30em;
	padding: 1em 4em 2em 4em;
	background-color: rgb(36, 36, 36);
	opacity: 95%;
	border-radius: 1em;
}

.inline-boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.4em;
}
.inline-boxes * {
	width: 100%;
}

.input-sections {
	display: flex;
	flex-direction: column;
	padding: 0.5em 0;
}
.input-box-body {
	display:flex;
	flex-direction:column;
	gap: 0.5em;
}

.password-box {
	display: flex;
	position: relative;
}
.inline-radio-buttons {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.inline-radio-buttons > label {
	display: flex;
	align-items: center;
	gap: 0.25em;
}